{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <img class="rounded float-left account-img" src="{{ image_file }}">
          <p class="text-secondary">
              My name's Christian Perez, I am a tech enthusiast who lives and breathes
              technology. My story began when I was in high school when my mother and grandfather
              got me my first computer.
          </p>
        </div>
      </div>
      <!-- FORM HERE -->
    </div>
{% endblock content %}